Sedna/textures/loris/
Sedna/textures/loris/
renderResults
renderResults_004
renderResults_Retake
renderResults_Retake_002
folder_tree
Sedna/data/in.txt
Sedna/data/test.txt
Sedna/data/out.txt
Sedna/data/新しいテキスト ドキュメント.txt
Sedna/data/debug_utils_io_csv.csv
Sedna/data/sample_person.csv
Sedna/data/sample_person_sjis.csv
Sedna/data/test.csv
Sedna/Sedna.blend1
*.mid
Sedna/data/Loris_WhiteCoat_Vertex_Groups.csv
Sedna/data/WhiteCoat.Dorothy_Vertex_Groups.csv
Sedna/data/custom_shape_settings.csv
Sedna/data/pose_constraints.csv
Sedna/data/pose_constraints_edit.csv
Sedna/src/python/utils/__pycache__/*
Sedna/src/python/__pycache__/*

Sedna/BackGrounds.blend1
*.blend1
Sedna/src/python/plugins/test/skelton.py
Sedna/data/pose_constraints_tail.csv
Sedna/src/python/addons/animation_auto_breakdown/__pycache__/auto_breakdown.cpython-35.pyc
*.pyc
Sedna/src/python/addons/sample_2_8_1.py
Sedna/src/python/addons/sample_2_8_2.py
Sedna/src/python/addons/sample_2_9.py
Sedna/data/FolderList.txt
*.py#
src/headfirst
